.moviesCardWrapper {
  display: flex;
  justify-content: baseline;
  gap: 1rem;
  margin-top: 20px;
}

.moviesCard {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(140, 42, 117);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgb(140, 42, 117);

  gap: 8px;
  padding: 12px;
}

.cardTitle {
  color: #242424;
  min-height: 40px;
}
.cardTitle:hover,
.cardTitle:active {
  color: rgb(140, 42, 117);
}

.cardOverview {
  color: grey;
}

.cardPopularity {
  font-weight: bold;
}
